on:
  release:
    types: [created]

name: CI
jobs:
  flatpak:
    name: "Flatpak"
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with: 
        submodules: recursive
    - name: "Install flatpak-builder"
      run: |
        sudo apt update
        sudo apt install flatpak-builder -y
        sudo flatpak remote-add --if-not-exists flathub https://dl.flathub.org/repo/flathub.flatpakrepo
    - name: "Build flatpak"
      run: |
        sudo flatpak-builder --force-clean --install-deps-from=flathub --repo=repo builddir org.Acestream.engine.yml
        sudo flatpak build-bundle repo acestream-engine.flatpak org.Acestream.engine
        ls -a
    - name: Upload Assets to Release
      uses: csexton/release-asset-action@v3
      with:
         file: acestream-engine.flatpak
         github-token: ${{ secrets.TOKEN }}
